body{
    color:blue;
    background-color: black;
    font-family: Arial;
    font-size: xx-Large;
}
/*img{
    height:500px;
    width:500px;
    border-radius:500px;
}*/
video{
    height:5cap;
}
ul{
    list-style-type: square;
}
table,th,td{
    border:1px solid white;
    border-collapse:collapse;
}
h1{
    padding:50px;
    border:20px solid green;
    margin:50px;
}
button:hover{
    background-color:green;
    border-radius:5px;
}
button{
    padding:10px;
    margin:20px;
}
nav{
    display:flex;
    flex-direction:row;
    gap:100px;
}
#p1{
   
    color:red;
    font-style:sans-serif;
}
#p2{
    font-style:sans-serif;
    color:blue;
    font-weight:bold;
   
}
.p{
    font-size:x-large;
}
.grid{
    display:grid;   
    grid-template-columns: 33% 33% 33%;
}
.flex{
    display:grid;
    grid-template-columns: 50% 50% ;
}

